.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.card-container {
  width: 960px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 95px;
}

.login-pic {
  width: 316px;
}

.validation-form {
  width: 290px;
}

.username-validate {
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 13px;
  padding: 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  pointer-events: none;
  color: red;
  font-size: 13px;
  line-height: 1.4;
  text-align: right;
}

.password-validate {
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 13px;
  padding: 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  pointer-events: none;
  color: red;
  font-size: 13px;
  line-height: 1.4;
  text-align: right;
}

.login-title {
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.validate-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input-field {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 68px 0 30px;
  outline: none;
  border: none;
}

.input-field:focus {
  border-color: transparent !important;
}

.input-span {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
  color: rgba(87, 184, 70, 0.8);
}

.input-icon {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-right: 35px;
  pointer-events: none;
  color: #666;
}

.login-btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  outline: none;
  border: none;
}

a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
