<!-- topbar -->
<div class="h-full">
  <nav class="bg-slate-50 border-b dark:bg-slate-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="../../assets/test.png" alt="mainLogo" />
          </div>
          <div class="d-block">
            <div class="ml-10 flex items-baseline space-x-4">
              <span
                class="text-light-mode text-dark-mode rounded-md px-3 py-2 text-sm font-medium"
                >{{ username }} به داشبودر خود خوش آمدیدasdf</span
              >
            </div>
          </div>
        </div>
        <div class="d-block">
          <!-- Profile dropdown -->
          <div class="ml-4 flex items-center md:ml-6">
            <div class="relative ml-3">
              <div>
                <button
                  (click)="showSetting()"
                  type="button"
                  class="text-light-mode text-dark-mode hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >
                  تنظیمات <fa-icon [icon]="setting" class="mr-2"></fa-icon>
                </button>
              </div>
              <div
                [ngClass]="{ 'd-none': isSettingShow }"
                class="absolute left-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-slate-50 dark:bg-slate-700 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <a
                  (click)="showDeleteModal()"
                  class="menu-button text-dark-mode"
                >
                  حذف نود <fa-icon [icon]="remove"></fa-icon
                ></a>
                <a (click)="showAddModal()" class="menu-button text-dark-mode"
                  >افزودن نود <fa-icon [icon]="add"></fa-icon
                ></a>
                <a
                  *ngIf="isDarkTheme; else elseBlock"
                  (click)="toggleTheme()"
                  class="menu-button text-dark-mode"
                >
                  حالت {{ themeTitle }}
                  <fa-icon [icon]="darkMode"></fa-icon>
                </a>
                <ng-template #elseBlock>
                  <a (click)="toggleTheme()" class="menu-button text-dark-mode">
                    حالت {{ themeTitle }}
                    <fa-icon [icon]="lightMode"></fa-icon>
                  </a>
                </ng-template>

                <a routerLink="" class="menu-button text-dark-mode"
                  >خروج <fa-icon [icon]="exit" class="-scale-100 mr-2"></fa-icon
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- chart -->

<app-chart></app-chart>

<!-- Delete Modal  -->

<div
  [ngClass]="{ 'd-none': isDeleteModalShow }"
  class="relative z-10"
  role="dialog"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-slate-50 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="modal-top">
          <div class="sm:flex sm:items-start">
            <div
              class="flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <fa-icon
                [icon]="warning"
                class="text-red-600 w-6 h-6 text-center"
              ></fa-icon>
            </div>
            <div class="w-full mr-3 mt-2 text-end sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-base font-semibold leading-6 text-light-mode text-dark-mode"
                id="modal-title"
              >
                حذف نود از نمودار
              </h3>
              <div class="mt-2">
                <div class="mt-2">
                  <div
                    *ngIf="!isDeleteModalShow"
                    class="mt-2 flex items-center"
                  >
                    <input
                      [(ngModel)]="nodeNameToDelete"
                      class="input-style"
                      (input)="onSearchToDelete()"
                      placeholder="نام نود مورد نظر"
                    />
                    <div
                      class="mt-2 w-full bg-white border border-gray-300 rounded shadow-md absolute bottom-0 z-10"
                      *ngIf="filteredNodeId.length > 0"
                    >
                      <ul class="py-2">
                        <li
                          *ngFor="let nodeId of finalResults"
                          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                          (click)="selectNodeToDelete(nodeId)"
                        >
                          {{ nodeId }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-gray-100 dark:bg-slate-800 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 justify-between"
        >
          <button
            (click)="deleteNode()"
            type="button"
            class="modal-submit-button-delete"
          >
            حذف نود
          </button>

          <button
            (click)="showDeleteModal()"
            type="button"
            class="modal-close-button"
          >
            بستن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal  -->

<div
  [ngClass]="{ 'd-none': isAddModalShow }"
  class="relative z-10"
  role="dialog"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-slate-50 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="modal-top">
          <div class="sm:flex sm:items-start">
            <div
              class="flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <fa-icon
                [icon]="success"
                class="text-green-600 w-6 h-6 text-center"
              ></fa-icon>
            </div>
            <div class="w-full mr-3 mt-2 text-end sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-base font-semibold leading-6 text-light-mode text-dark-mode"
                id="modal-title"
              >
                افزودن نود به نمودار
              </h3>
              <div class="mt-2">
                <div class="mt-2">
                  <div class="mt-2 flex items-center">
                    <fa-icon
                      class="absolute mr-2 dark:text-white"
                      [icon]="id"
                    ></fa-icon>
                    <input
                      [(ngModel)]="nodeNameToAdd"
                      placeholder="نام نود مورد نظر"
                      required
                      class="input-style"
                    />
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="mt-2">
                  <div class="relative mt-2 flex items-center">
                    <fa-icon
                      class="absolute mr-2 dark:text-white"
                      [icon]="color"
                    ></fa-icon>
                    <input
                      [(ngModel)]="nodeColorToAdd"
                      placeholder="رنگ نود مورد نظر"
                      required
                      class="input-style"
                    />
                    <button
                      (click)="showGuidModal()"
                      class="absolute inset-y-0 left-2 flex items-center pr-2"
                    >
                      <fa-icon [icon]="guid" class="text-yellow-300"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="mt-2">
                  <div class="mt-2 flex items-center">
                    <fa-icon
                      class="absolute mr-2 dark:text-white"
                      [icon]="end"
                    ></fa-icon>
                    <input
                      [(ngModel)]="nodeTargetToAdd"
                      (input)="onSearchToAdd()"
                      placeholder="نام نود هدف"
                      required
                      class="input-style"
                    />
                    <div
                      class="mt-2 w-full bg-white border border-gray-300 rounded shadow-md absolute bottom-0 z-10"
                      *ngIf="filteredNodeId.length > 0"
                    >
                      <ul class="py-2">
                        <li
                          *ngFor="let nodeId of finalResults"
                          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                          (click)="selectNodeToAdd(nodeId)"
                        >
                          {{ nodeId }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-gray-100 dark:bg-slate-800 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 justify-between"
        >
          <button
            (click)="addNode()"
            type="button"
            class="modal-submit-button-add"
          >
            افزودن نود
          </button>

          <button
            (click)="showAddModal()"
            type="button"
            class="modal-close-button"
          >
            بستن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Guid Modal  -->
<div
  [ngClass]="{ 'd-none': isGuidModalShow }"
  class="relative z-10"
  role="dialog"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-slate-50 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="modal-top">
          <div class="sm:flex sm:items-start">
            <div
              class="flex h-24 w-24 flex-shrink-0 items-center justify-center rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <fa-icon
                [icon]="guid"
                class="text-yellow-600 w-6 h-6 text-center"
              ></fa-icon>
            </div>
            <div class="w-full mr-3 mt-2 text-end sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-base font-semibold leading-6 text-light-mode text-dark-mode"
                id="modal-title"
              >
                راهنما رنگ نود ها
              </h3>
              <div class="mt-2">
                <div class="mt-2">
                  <div *ngIf="!isGuidModalShow" class="mt-2 flex items-center">
                    <!-- <table
                      class="min-w-full divide-y divide-gray-200"
                      dir="rtl"
                    >
                      <thead class="bg-gray-50">
                        <tr class="text-center">
                          <th class="modal-title-text text-dark">رنگ</th>
                          <th class="modal-title-text text-dark">گروه</th>
                          <th class="modal-title-text text-dark">نمونه</th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200">
                        <tr class="rounded-md">
                          <td class="px-6 py-4 whitespace-nowrap">جون دو</td>
                          <td class="px-6 py-4 whitespace-nowrap">30</td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            john@example.com
                          </td>
                        </tr>
                      </tbody>
                    </table> -->

                    <table class="w-100 rounded-lg overflow-hidden" dir="rtl">
                      <thead>
                        <tr class="bg-gray-200 text-center">
                          <th class="modal-title-text text-dark p-2">رنگ</th>
                          <th class="modal-title-text text-dark p-2">گروه</th>
                        </tr>
                      </thead>
                      <tbody
                        class="bg-white"
                        *ngFor="let node of groupNodeList"
                      >
                        <tr
                          class="hover:bg-gray-300 cursor-pointer"
                          (click)="selectedGroupColor(node.group)"
                        >
                          <td class="px-4 py-2 whitespace-nowrap text-center">
                            <fa-icon
                              [icon]="circle"
                              [class]="node.color"
                            ></fa-icon>
                          </td>
                          <td class="px-4 py-2 whitespace-nowrap text-center">
                            {{ node.group }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-gray-100 dark:bg-slate-800 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 justify-between"
        >
          <button
            (click)="showGuidModal()"
            type="button"
            class="modal-close-button"
          >
            بستن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
